@-ms-viewport{
    width: device-width;
    zoom: 1.0;
}
html, body{
    margin: 0 auto;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}


/* NAV BAR ELEMENTS */
.navbar{
    display: flex;
    width: 100%;
    height:30%;
    background:whitesmoke;
    border: 3px red;
    align-items: center;
    justify-content: center;
}
.navbar a{
    color:black;
    text-decoration: none;
    font-size: 30px;
    border-bottom: solid 2px black;
    margin: 30px 30px;
    overflow: hidden;
}
.logo{
    width: 150px;
    height: 100%;
    margin: 10px 0 10px 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: peachpuff;
    border-radius: 8px;
}
a.active{
    color: darkblue;
}


.dropdown .dropbtn {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 30px;
  border-bottom: solid 2px black;
  margin: 0 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  font-size: 20px;
  float: none;
  color: black;
  padding: 4px 0 4px 0;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


/* END NAV BAR ELEMENTS */

.computer img{
    height: 100%;
    width: 100%;
}

.line{
    border-bottom: 3px solid black;
    display: block;
}


aside p{
    font-size:60px;
    padding: 10px;
    text-align: center;
}

p{
    text-align:center;
    font-size: 18px;
    margin: 1em;
}

.container{
    display: flex;
    background-image: url(./images/swipe.webp);
    background-position: left 80%;
    justify-content: space-evenly;
    text-align: center;
}
.column{
    width: 23%;
    background-color: white;
    border: 1px solid black;
    box-shadow: 5px 5px 20px 8px rgb(83, 83, 224);
    clear: both;
}
.topimage{
    height: 50%;
    width: 100%;
}
.bar-headings{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
}
.button{
    font-size: 18px;
    color: black;
    background-color: rgb(40, 175, 219);
    border-radius: 12px;
    border: 1px solid coral;
}
.button:hover{
    opacity:0.5;
}

/* OUR STORY PAGE */
.our-story{
    text-align: center;
}
.our-story p{
    font-size: 25px;
    font-weight: 100;
    margin: 1% 10% 1% 10%;
}
.our-story h1{
    font-size: 30px;
}
.short-line{
    border: 0;
    height: 4px;
    width:10%;
    background-color: rgb(14, 13, 13);
    text-align: center;
}
.double-line{
    border: 0;
    border-top: 15px double lightblue;
    width:80%;
    text-align: center;
}





/* END OUR STORY PAGE */
@media (max-width: 900px){
    .container{
        flex-direction: column;
    }
    .column{
        width: 100%;
        margin: 5px 0 5px 0;
    }
    .topimage{
        margin: 10px 0;
        height: 50%;
        width: 70%;
    }
    .page-ref-links{
        text-align: center;
    }
}


.footer{
    height: auto;
    width: auto;
    text-align: center;
    background-color: lightblue;
    padding: 1em;
}

.footer img{
    margin-left: 5%;
    margin-right: 5%;
}
.page-ref-links{
    text-align: right;
    font-size: 15px;
}